{include file="app/admin/view/common/header_head.html" /}
<!-- start -->

<div class="layui-fluid">
    <form class="layui-form" action="{:url('admin_role/save')}">
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">角色名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" autocomplete="off" class="layui-input" value="{$data['name']|default=''}" placeholder="角色名称">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">备注</label>
            <div class="layui-input-block">
                <input type="text" name="remark" autocomplete="off" class="layui-input" value="{$data['remark']|default=''}" placeholder="备注">
            </div>
        </div>
        
        <div class="layui-form-item" style="text-align: center;">
            <input type="hidden" name="id" value="{$data['id']|default='0'}">
            <button class="layui-btn" lay-filter="submit_save" lay-submit>保存</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>

<!-- end -->
</body>
</html>


