{include file="app/admin/view/common/header.html" /}

<div class="layui-fluid">

	<div class="layui-col-md12" style="padding: 5px;">
		<div class="layui-card">
		  	<div class="layui-card-header">导航</div>
		  	<div class="layui-card-body">
		  		<script type="text/html" id="toolbar_navlist">
				 	<div class="layui-btn-container">
				    	<button class="layui-btn layui-btn-sm" lay-event="add_nav"><i class="layui-icon"></i>添加</button>
				  	</div>
				</script>
			    <div id="nav_list"></div>
		  	</div>
		</div>
	</div>

	<div class="layui-col-md6" style="padding: 5px;">
		<div class="layui-card">
		  	<div class="layui-card-header">菜单</div>
		  	<div class="layui-card-body">
		  		<script type="text/html" id="toolbar_menulist">
				 	<div class="layui-btn-container">
				    	<button class="layui-btn layui-btn-sm" lay-event="add_menu"><i class="layui-icon"></i>添加</button>
				  	</div>
				</script>
		  		<div id="menu_list"></div>
		  	</div>
		</div>
	</div>

	<div class="layui-col-md6" style="padding: 5px;">
		<div class="layui-card">
		  	<div class="layui-card-header">子菜单</div>
		  	<div class="layui-card-body">
                <script type="text/html" id="toolbar_submenulist">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" lay-event="add_submenu"><i class="layui-icon"></i>添加</button>
                    </div>
                </script>
			    <div id="submenu_list"></div>
		  	</div>
		</div>
	</div>

</div>


<script type="text/javascript">

layui.config({base: '{__STATIC__}/admin/layuiadmin/'}).use(['table','jquery','dropdown'], function(){
///
var admin = layui.admin
,$ = layui.$
,form = layui.form
,dropdown = layui.dropdown
,table = layui.table;

table.render({
    elem: '#nav_list',
    url: '{:url("admin_menu/list")}',
    toolbar: '#toolbar_navlist',
    defaultToolbar: [],
    title: '数据表',
    cols: [[
    	{field:'id', title:'ID', width:30, templet:function(data){
    		if (data.LAY_INDEX == 0){
    			renderMenuTable(data);
    		}
    		return data.id;
    	}},
       	{field:'name', title:'名称',},
        {field:'alias', title:'别名',},
        {field:'sort',title:'排序',width:20},
        {field:'display', title:'是否显示',width:88,toolbar: '#displayTpl',},
        {field:'status', title:'是否使用',width:88,toolbar: '#statusTpl',},
       	{title:'操作', toolbar: '#cmdTpl', width:100, fixed: 'right',}
     ]],
    page: false
});

//点击行
table.on('row(nav_list)', function(obj){
	var data = obj.data;
	renderMenuTable(data);
});

//点击行
table.on('row(menu_list)', function(obj){
	var data = obj.data;
	renderSubMenuTable(data);
});


//头工具栏事件
table.on('toolbar(nav_list)', function(obj){
    switch(obj.event){
        case 'add_nav':menuAdd(obj, 'nav');break;
    };
});

table.on('toolbar(menu_list)', function(obj){
    switch(obj.event){
        case 'add_menu':menuAdd(obj, 'menu');break;
    };
});

table.on('toolbar(submenu_list)', function(obj){
    switch(obj.event){
        case 'add_submenu':menuAdd(obj, 'submenu');break;
    };
});


table.on('tool(nav_list)', function(obj){
    switch(obj.event){
        case 'delete':menuDelete(obj);break;
        case 'edit':menuAdd(obj, 'nav');break;
        case 'display':menuDisplay(obj);break;
        case 'status':menuStatus(obj);break;
    };
});

table.on('tool(menu_list)', function(obj){
    switch(obj.event){
        case 'delete':menuDelete(obj);break;
        case 'edit':menuAdd(obj, 'menu');break;
        case 'display':menuDisplay(obj);break;
        case 'status':menuStatus(obj);break;
    };
});

table.on('tool(submenu_list)', function(obj){
    switch(obj.event){
        case 'delete':menuDelete(obj);break;
        case 'edit':menuAdd(obj, 'submenu');break;
        case 'display':menuDisplay(obj);break;
        case 'status':menuStatus(obj);break;
    };
});

function menuDelete(obj){
    layer.confirm('你真的要删除吗?', { closeBtn: 2, icon: 3 }, function() {
        $.post('{:url("admin_menu/del")}', {'id':obj.data.id}, function(data) {
            showMsg(data.msg,function(){
                if (data.code>-1){
                    location.reload();
                }
            },{icon:data.code>-1?1:2});
        },'json');
    });
}

function menuDisplay(obj){
    layer.confirm('你真的更改显示吗?', { closeBtn: 2, icon: 3 }, function() {
        $.post('{:url("admin_menu/triggerDisplay")}', {'id':obj.data.id}, function(data) {
            showMsg(data.msg,function(){
                if (data.code>-1){
                    location.reload();
                }
            },{icon:data.code>-1?1:2});
        },'json');
    });
}

function menuStatus(obj){
    layer.confirm('你真的更改状态吗?', { closeBtn: 2, icon: 3 }, function() {
        $.post('{:url("admin_menu/triggerStatus")}', {'id':obj.data.id}, function(data) {
            showMsg(data.msg,function(){
                if (data.code>-1){
                    location.reload();
                }
            },{icon:data.code>-1?1:2});
        },'json');
    });
}

function makeMenuList(data){
    var ndata = [];
    for (var i = 0; i < data.length; i++) {
        var t = {
            'id': data[i]['id'],
            'title': data[i]['name'],
            'type': 'normal'
        };

        if ('submenu' in data[i]){
            t['child'] = makeMenuList(data[i]['submenu']);
        }
        ndata.push(t);
    }
    return ndata;
}


function makeIconList(){
    var icon_list = [
        'layui-icon-heart-fill','layui-icon-heart','layui-icon-light','layui-icon-time','layui-icon-bluetooth','layui-icon-at',
        'layui-icon-mute','layui-icon-mike','layui-icon-key','layui-icon-gift','layui-icon-email','layui-icon-rss',
        'layui-icon-wifi','layui-icon-logout','layui-icon-android','layui-icon-ios','layui-icon-windows','layui-icon-transfer',
        'layui-icon-service','layui-icon-subtraction','layui-icon-addition','layui-icon-slider','layui-icon-print','layui-icon-export',
        'layui-icon-cols','layui-icon-screen-restore','layui-icon-screen-full','layui-icon-rate-half','layui-icon-rate','layui-icon-rate-solid',
        'layui-icon-cellphone','layui-icon-vercode','layui-icon-login-wechat','layui-icon-login-qq','layui-icon-login-weibo','layui-icon-password',
        'layui-icon-username','layui-icon-refresh-3','layui-icon-auz','layui-icon-spread-left','layui-icon-shrink-right','layui-icon-snowflake',
        'layui-icon-tips','layui-icon-note','layui-icon-home','layui-icon-senior','layui-icon-refresh','layui-icon-refresh-1',
        'layui-icon-flag','layui-icon-theme','layui-icon-notice','layui-icon-website','layui-icon-console','layui-icon-face-surprised',
        'layui-icon-set','layui-icon-template-1','layui-icon-app','layui-icon-template','layui-icon-praise','layui-icon-tread',
        'layui-icon-male','layui-icon-female','layui-icon-camera','layui-icon-camera-fill','layui-icon-more','layui-icon-more-vertical',
        'layui-icon-rmb','layui-icon-dollar','layui-icon-diamond','layui-icon-fire','layui-icon-return','layui-icon-location',
        'layui-icon-read','layui-icon-survey','layui-icon-face-smile','layui-icon-face-cry','layui-icon-cart-simple','layui-icon-cart',
        'layui-icon-next','layui-icon-prev','layui-icon-upload-drag','layui-icon-upload','layui-icon-download-circle','ayui-icon-component',
        'layui-icon-file-b','layui-icon-user','layui-icon-find-fill','layui-icon-add-1','layui-icon-play','layui-icon-pause',
        'layui-icon-headset','layui-icon-video','layui-icon-voice','layui-icon-speaker','layui-icon-fonts-del',
        'layui-icon-fonts-code','layui-icon-fonts-html','layui-icon-fonts-strong','layui-icon-unlink','layui-icon-picture',
        'layui-icon-link','layui-icon-face-smile-b','layui-icon-fonts-u','layui-icon-fonts-i','layui-icon-tabs','layui-icon-radio',
        'layui-icon-circle','layui-icon-edit','layui-icon-share','layui-icon-delete','layui-icon-form','layui-icon-cellphone-fine',
        'layui-icon-dialogue','layui-icon-fonts-clear','layui-icon-layer','layui-icon-date','layui-icon-water','layui-icon-code-circle',
        'layui-icon-carousel','layui-icon-prev-circle','layui-icon-layouts','layui-icon-util','layui-icon-templeate-1',
        'layui-icon-upload-circle','layui-icon-tree','layui-icon-table','layui-icon-chart',
        'layui-icon-chart-screen','layui-icon-engine','layui-icon-file','layui-icon-reduce-circle','layui-icon-add-circle','layui-icon-404',
        'layui-icon-about','layui-icon-search','layui-icon-set-fill','layui-icon-group','layui-icon-reply-fill','layui-icon-release',
        'layui-icon-help','layui-icon-top','layui-icon-star-fill','layui-icon-close-fill'
    ];

    var ndata = [];
    for (var i = 0; i < icon_list.length; i++) {
        var t = {
            'id': icon_list[i],
            'templet': '<i class="layui-icon '+icon_list[i]+'"></i> '+icon_list[i],
            'href': '#'
        };
        ndata.push(t);
    }

    return ndata;
}

// add
function menuAdd(obj,mtype){

    var name = '';
    var alias = ''
    var remark = '';
    var route = '';
    var icon = '';
    var sort = 0;

    if (obj.event == 'edit'){
        name = obj.data.name;
        alias = obj.data.alias;
        remark = obj.data.remark;
        route = obj.data.route;
        icon = obj.data.icon;
        sort = obj.data.sort;
    }


    var type_option_html = '';
    var title_nav = '';

    if (mtype == 'nav'){
        title_nav = '导航';
        type_option_html = '<option value="nav">导航</option>';
    } else if (mtype == 'menu'){
        title_nav = '菜单';
        type_option_html = '<option value="menu">菜单</option>';
    }else if (mtype == 'submenu'){
        title_nav = '子菜单';
        type_option_html = '<option value="submenu">子菜单</option>';
    } else if (mtype == 'api'){
        title_nav = 'API';
        type_option_html = '<option value="api">API</option>';
    }

    var btn_action = ['添加','取消'];
    var layer_title = '添加【'+title_nav+'】';
    if (obj.event == 'edit'){
        btn_action = ['更新','取消'];
        layer_title = '编辑【'+title_nav+'】';
    }

    layer.open({
        area: ['400px',"442px"],
        title:layer_title,
        content: '<form id="add_menu_form" class="layui-form layui-form-pane" style="padding:5px;">\
        	<div class="layui-form-item">\
              <label class="layui-form-label">父级</label>\
              <div class="layui-input-block">\
                <button id="pid_txt" type="button" class="layui-btn" style="width:100%;">无</button>\
              </div>\
            </div>\
	        <div class="layui-form-item">\
	            <label class="layui-form-label">类型</label>\
	            <div class="layui-input-block">\
	                <select name="type" lay-verify="required">'+type_option_html+'</select>\
	            </div>\
	        </div>\
            <div class="layui-form-item">\
              <label class="layui-form-label">名称</label>\
              <div class="layui-input-block">\
                <input type="text" name="name" value="'+name+'" autocomplete="off" placeholder="请输入名称" class="layui-input">\
              </div>\
            </div>\
            <div class="layui-form-item" id="div_alias">\
             	<label class="layui-form-label">别名</label>\
              	<div class="layui-input-block">\
                	<input type="text" name="alias" value="'+alias+'" autocomplete="off" placeholder="请输入名称" class="layui-input">\
              	</div>\
            </div>\
            <div class="layui-form-item" id="div_route">\
             	<label class="layui-form-label">路由</label>\
              	<div class="layui-input-block">\
                	<input type="text" name="route" value="'+route+'" autocomplete="off" placeholder="请输入路由地址" class="layui-input">\
              	</div>\
            </div>\
            <div class="layui-form-item" id="div_icon">\
             	<label class="layui-form-label">图标</label>\
              	<div class="layui-input-block">\
                	<input type="text" name="icon" value="'+icon+'" autocomplete="off" placeholder="请输入图标标识" class="layui-input">\
              	</div>\
            </div>\
            <div class="layui-form-item">\
              <label class="layui-form-label">备注</label>\
              <div class="layui-input-block">\
                <input type="text" name="remark" value="'+remark+'" autocomplete="off" placeholder="请输入备注" class="layui-input">\
              </div>\
            </div>\
            <div class="layui-form-item">\
              <label class="layui-form-label">排序</label>\
              <div class="layui-input-block">\
                <input type="number" name="sort" value="'+sort+'" autocomplete="off" class="layui-input">\
              </div>\
            </div>\
            <input type="hidden" name="id" value="">\
            <input type="hidden" name="pid" value="0">\
        </form>',
        btn: btn_action,
        type: 1,
        shadeClose: false,
        success:function(){
            form.render();
            if (obj.event == 'edit'){
                $('input[name="id"]').val(obj.data.id);
            }

            if (mtype == 'nav'){
                $('#div_route').css('display','none');
                $('#div_icon').css('display','none');
            } else if (mtype == 'menu'){
                $('#div_route').css('display','none');
                $('#div_alias').css('display','none');

                var pdata = $('#toolbar_menulist').data('pdata');
                $('input[name="pid"]').val(pdata.id);
                $('#pid_txt').text(pdata.name);
            } else if (mtype == 'submenu'){

                $('#div_icon').css('display','none');
                $('#div_alias').css('display','none');

                var pdata = $('#toolbar_submenulist').data('pdata');
                $('input[name="pid"]').val(pdata.id);
                $('#pid_txt').text(pdata.name);
            }

            $('input[name="name"]').change(function(){
                $('input[name="remark"]').val($(this).val());
            });

            var ico_list = makeIconList();
            dropdown.render({
                elem: 'input[name="icon"]',
                data: ico_list,
                click: function(item){
                    $('input[name="icon"]').val(item['id']);
                }
            });


        },
        yes: function(index, layero){
            var data = $("#add_menu_form").serialize();
            $.post('{:url("adminmenu/save")}', data, function(data) {
                showMsg(data.msg,function(){
                    if (data.code>-1){
                        layer.close(index);
                        location.reload();
                        if (mtype == 'nav'){

                        }

                    }
                },{icon:data.code>-1?1:2});
            },'json');
            return;
        }
    });
}

// 渲染table
function renderMenuTable(data){
    $('#toolbar_menulist').data('pdata', data);
	table.render({
	    elem: '#menu_list',
	    toolbar: '#toolbar_menulist',
	    defaultToolbar: [],
	    url: '{:url("admin_menu/listpid")}?pid='+data.id,
	    title: '数据表',
	    cols: [[
	    	{field:'id', title:'ID', width:30, templet:function(data){
	    		if (data.LAY_INDEX == 0){
	    			renderSubMenuTable(data);
	    		}
	    		return data.id;
    		}},
            {field:'sort',title:'排序',width:20},
	       	{field:'name', title:'名称',width:100},
            {field:'display', title:'是否显示',width:88,toolbar: '#displayTpl',},
            {field:'status', title:'是否使用',width:88,toolbar: '#statusTpl',},
	       	{title:'操作', toolbar: '#cmdTpl', width:100, fixed: 'right'}
	     ]],
	    page: false
	});
}

function renderSubMenuTable(data){
    $('#toolbar_submenulist').data('pdata', data);
	table.render({
	    elem: '#submenu_list',
	    toolbar: '#toolbar_submenulist',
	    defaultToolbar: [],
	    url: '{:url("admin_menu/listpid")}?pid='+data.id,
	    title: '数据表',
	    cols: [[
	    	{field:'id', title:'ID', width:30},
	       	{field:'name', title:'名称',width:100},
            {field:'sort',title:'排序',width:20},
            {field:'display', title:'是否显示',width:88,toolbar: '#displayTpl',},
            {field:'status', title:'是否使用',width:88,toolbar: '#statusTpl',},
	       	{title:'操作', toolbar: '#cmdSubmenuTpl', width:145, fixed: 'right'}
	     ]],
	    page: false
	});
}

///
});
</script>


<script type="text/html" id="displayTpl">
    {{# if (d.display == 0){ }}
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="display">不显示</a>
    {{# } else if (d.display == 1) { }}
    <a class="layui-btn layui-btn-xs" lay-event="display">显示</a>
    {{# } }}
</script>

<script type="text/html" id="statusTpl">
    {{# if (d.status == 1){ }}
    <a class="layui-btn layui-btn-xs" lay-event="status">开启</a>
    {{# } else if (d.status == 0) { }}
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="status">关闭</a>
    {{# } }}
</script>

<script type="text/html" id="cmdTpl">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete"><i class="layui-icon">&#xe640;</i></a>
</script>


<script type="text/html" id="cmdSubmenuTpl">
    <a class="layui-btn layui-btn-xs" onclick="Admin.open('【{{d.name}}】'+'API权限设置','{:url('adminmenu/api')}?pid={{d.id}}',900,600)">API</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete"><i class="layui-icon">&#xe640;</i></a>
</script>

{include file="app/admin/view/common/footer.html" /}