{include file="app/admin/view/common/header.html" /}

<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">

    	<div class="layui-row layui-col-space15">
		  	<div class="layui-col-md12">
		    <div class="layui-panel">
		     	<div style="padding: 5px;">
		     		
		     		<span class="layui-breadcrumb">
					 	<a href="../index.htm" tppabs="https://www.layui.site/">首页</a>
					 	<a href="index.htm" tppabs="https://www.layui.site/demo/">演示</a>
					 	<a><cite>导航元素</cite></a>
					</span>
		     	</div>
		    </div>   
		  </div>
		</div>    

        <span class="layui-breadcrumb">
		 	<a href="../index.htm" tppabs="https://www.layui.site/">首页</a>
		 	<a href="index.htm" tppabs="https://www.layui.site/demo/">演示</a>
		 	<a><cite>导航元素</cite></a>
		</span>
		     
    </div>
</div>

{include file="app/admin/view/common/footer.html" /}