{include file="app/admin/view/common/header.html" /}

<style type="text/css">
.w120 .layui-form-label {
    width: 120px;
}   
.w400{
    width: 400px!important;
}
.l40{
    margin-left: 42px!important;
}
.pdl60{
    padding-left: 65px;
}
.select-ssl{
    position: absolute;
    top:0;
    left:0;
}
.select-ssl .layui-unselect,.select-ssl .layui-input-inline{
    width: 62px!important;
}
.select-ssl .layui-form-select .layui-input{
    padding-right: 0px;
}
.select-ssl .layui-edge{
    display: none;
}

.layui-input-block {
    margin-left: 150px;
    min-height: 36px;
}
</style>

<div class="layui-fluid">
    <div class="layui-card">
        <form class="layui-form" action="{:url('setting/save')}">
            <div class="layui-card-body">
                <div class="layui-tab layui-tab-brief" lay-filter="setting">
                    <ul class="layui-tab-title">
                        <li lay-id="t1" class="layui-this">基础配置</li>
                        <li lay-id="t2">主邮件配置</li>
                        <li lay-id="t3">备用邮件配置</li>
                        <li lay-id="t4">发送模板配置</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <div class="layui-text" style="max-width: 700px;padding-top: 15px;">
                                
                                <div class="layui-form-item w120">
                                    <label class="layui-form-label">邮件是否开启:</label>
                                    <div class="layui-input-inline" style="display: block;width: auto;float: none;">
                                        <input lay-filter="mode" type="radio" name="mail[mode]" value="0" title="关闭" {if isset($mail['mode']) && $mail['mode'] == 0 }checked{/if}>
                                        <input lay-filter="mode" type="radio" name="mail[mode]" value="1" title="开启" {if isset($mail['mode']) && $mail['mode'] == 1 }checked{/if}>
                                    </div>
                                </div>

                                <div class="layui-form-item w120">
                                    <label class="layui-form-label">记录开启:</label>
                                    <div class="layui-input-inline" style="display: block;width: auto;float: none;">
                                        <input type="radio" name="mail[record]" value="0" title="关闭" {if isset($mail['record']) && $mail['record'] == 0 }checked{/if}>
                                        <input type="radio" name="mail[record]" value="1" title="开启" {if isset($mail['record']) && $mail['record'] == 1 }checked{/if}>
                                    </div>
                                </div>

                                <div class="layui-form-item w120">
                                    <label class="layui-form-label layui-form-required">模式选择:</label>
                                    <div class="layui-input-block">
                                        <select name="mail[method]">
                                            <option value="0" {if isset($mail['method']) && $mail['method'] == 0 }selected{/if}>无</option>
                                            <option value="1" {if isset($mail['method']) && $mail['method'] == 1 }selected{/if}>根据指定</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="layui-form-item w120">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" lay-filter="submit_save" lay-submit>更新配置</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="layui-tab-item">
                            <div class="layui-text" style="max-width: 700px;padding-top: 15px;">
                                
                                <div id="mail_master">
                                    <div class="layui-form-item w120">
                                        <label class="layui-form-label">是否开启:</label>
                                        <div class="layui-input-inline" style="display: block;width: auto;float: none;">
                                            <input type="radio" name="mail[master][mode]" value="0" title="关闭" {if isset($mail['master']['mode']) && $mail['master']['mode'] == 0 }checked{/if}>
                                            <input type="radio" name="mail[master][mode]" value="1" title="开启" {if isset($mail['master']['mode']) && $mail['master']['mode'] == 1 }checked{/if}>
                                        </div>
                                    </div>

                                    <div class="layui-form-item w120">
                                        <label class="layui-form-label layui-form-required">SMTP服务器:</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="mail[master][host]" placeholder="SMTP服务器地址" value="{$mail['master']['host']|default='smtp.126.com'}" class="layui-input"/>
                                        </div>
                                    </div>

                                    <div class="layui-form-item w120">
                                        <label class="layui-form-label layui-form-required">邮件发送端口:</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="mail[master][port]" placeholder="邮件发送端口，一般为25，QQ邮箱465" value="{$mail['master']['port']|default='25'}" class="layui-input"/>
                                        </div>
                                    </div>

                                    <div class="layui-form-item w120">
                                        <label class="layui-form-label layui-form-required">邮件发送名称:</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="mail[master][nick]" placeholder="发送者简称，如：鸿蒙CMS" value="{$mail['master']['nick']|default='鸿蒙CMS'}" class="layui-input"/>
                                        </div>
                                    </div>

                                    <div class="layui-form-item w120">
                                        <label class="layui-form-label layui-form-required">发送邮件:</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="mail[master][mail_email]" placeholder="填写完整邮箱" value="{$mail['master']['mail_email']|default='aaaa@126.com'}" class="layui-input"/>
                                        </div>
                                    </div>

                                    <div class="layui-form-item w120">
                                        <label class="layui-form-label layui-form-required">邮箱账号:</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="mail[master][username]" placeholder="填写完整邮箱" value="{$mail['master']['username']|default='aaaa@126.com'}" class="layui-input"/>
                                        </div>
                                    </div>

                                    <div class="layui-form-item w120">
                                        <label class="layui-form-label layui-form-required">邮箱密码:</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="mail[master][password]" placeholder="邮箱密码，如果是qq邮箱填写授权码,163邮箱则填安全密码" value="{$mail['master']['password']|default=''}" class="layui-input"/>
                                        </div>
                                    </div>

                                    <div class="layui-form-item w120">
                                        <label class="layui-form-label">SMTP验证方法:</label>
                                        <div class="layui-input-inline" style="display: block;width: auto;float: none;">
                                            <input lay-filter="crypto" type="radio" name="mail[master][secure]" value="" title="无" {if isset($mail['master']['secure']) && $mail['master']['secure'] == '' }checked{/if}>
                                            <input lay-filter="crypto" type="radio" name="mail[master][secure]" value="tls" title="TLS" {if isset($mail['master']['secure']) && $mail['master']['secure'] == 'tls' }checked{/if}>
                                            <input lay-filter="crypto" type="radio" name="mail[master][secure]" value="ssl" title="SSL" {if isset($mail['master']['secure']) && $mail['master']['secure'] == 'ssl' }checked{/if}>
                                        </div>
                                    </div>

                                </div>

                                <div class="layui-form-item w120">
                                    <label class="layui-form-label">测试接收邮件:</label>
                                    <div class="layui-input-block">
                                        <input id="mail_tomail" type="text" name="mail[master][to_mail]" placeholder="填写完整邮箱" value="{$mail['master']['to_mail']|default=''}" class="layui-input"/>
                                        <button class="layui-btn layui-btn-normal" style="position: absolute;top: 0px;right: 0;" lay-filter="submit_master_test" lay-submit>发送测试邮件</button>
                                    </div>
                                </div>
                            
                                <div class="layui-form-item w120">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" lay-filter="submit_save" lay-submit>更新配置</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="layui-tab-item">
                            <div class="layui-text" style="max-width: 700px;padding-top: 15px;">
                                
                                <div id="mail_slave">
                                    <div class="layui-form-item w120">
                                        <label class="layui-form-label">是否开启:</label>
                                        <div class="layui-input-inline" style="display: block;width: auto;float: none;">
                                            <input type="radio" name="mail[backup][mode]" value="0" title="关闭" {if isset($mail['backup']['mode']) && $mail['backup']['mode'] == 0 }checked{/if}>
                                            <input type="radio" name="mail[backup][mode]" value="1" title="开启" {if isset($mail['backup']['mode']) && $mail['backup']['mode'] == 1 }checked{/if}>
                                        </div>
                                    </div>

                                    <div class="layui-form-item w120">
                                        <label class="layui-form-label layui-form-required">SMTP服务器:</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="mail[backup][host]" placeholder="SMTP服务器地址" value="{$mail['backup']['host']|default='smtp.126.com'}" class="layui-input"/>
                                        </div>
                                    </div>

                                    <div class="layui-form-item w120">
                                        <label class="layui-form-label layui-form-required">邮件发送端口:</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="mail[backup][port]" placeholder="邮件发送端口，一般为25，QQ邮箱465" value="{$mail['backup']['port']|default='25'}" class="layui-input"/>
                                        </div>
                                    </div>

                                    <div class="layui-form-item w120">
                                        <label class="layui-form-label layui-form-required">邮件发送名称:</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="mail[backup][nick]" placeholder="发送者简称，如：鸿蒙CMS" value="{$mail['backup']['nick']|default='鸿蒙CMS'}" class="layui-input"/>
                                        </div>
                                    </div>

                                    <div class="layui-form-item w120">
                                        <label class="layui-form-label layui-form-required">发送邮件:</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="mail[backup][mail_email]" placeholder="填写完整邮箱" value="{$mail['backup']['mail_email']|default='aaaa@126.com'}" class="layui-input"/>
                                        </div>
                                    </div>

                                    <div class="layui-form-item w120">
                                        <label class="layui-form-label layui-form-required">邮箱账号:</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="mail[backup][username]" placeholder="填写完整邮箱" value="{$mail['backup']['username']|default='aaaa@126.com'}" class="layui-input"/>
                                        </div>
                                    </div>

                                    <div class="layui-form-item w120">
                                        <label class="layui-form-label layui-form-required">邮箱密码:</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="mail[backup][password]" placeholder="邮箱密码，如果是qq邮箱填写授权码,163邮箱则填安全密码" value="{$mail['backup']['password']|default=''}" class="layui-input"/>
                                        </div>
                                    </div>

                                    <div class="layui-form-item w120">
                                        <label class="layui-form-label">SMTP验证方法:</label>
                                        <div class="layui-input-inline" style="display: block;width: auto;float: none;">
                                            <input lay-filter="crypto" type="radio" name="mail[backup][secure]" value="" title="无" {if isset($mail['backup']['secure']) && $mail['backup']['secure'] == '' }checked{/if}>
                                            <input lay-filter="crypto" type="radio" name="mail[backup][secure]" value="tls" title="TLS" {if isset($mail['backup']['secure']) && $mail['backup']['secure'] == 'tls' }checked{/if}>
                                            <input lay-filter="crypto" type="radio" name="mail[backup][secure]" value="ssl" title="SSL" {if isset($mail['backup']['secure']) && $mail['backup']['secure'] == 'ssl' }checked{/if}>
                                        </div>
                                    </div>

                                </div>

                                <div class="layui-form-item w120">
                                    <label class="layui-form-label">测试接收邮件:</label>
                                    <div class="layui-input-block">
                                        <input id="mail_tomail" type="text" name="mail[backup][to_mail]" placeholder="填写完整邮箱" value="{$mail['backup']['to_mail']|default=''}" class="layui-input"/>
                                        <button class="layui-btn layui-btn-normal" style="position: absolute;top: 0px;right: 0;" lay-filter="submit_slave_test" lay-submit>发送测试邮件</button>
                                    </div>
                                </div>
                            
                                <div class="layui-form-item w120">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" lay-filter="submit_save" lay-submit>更新配置</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="layui-tab-item">
                            <div class="layui-text" style="max-width: 700px;padding-top: 15px;">
                                
                                <div class="layui-form-item w120">
                                    <label class="layui-form-label">验证码发送标题:</label>
                                    <div class="layui-input-block">
                                        <!-- 您正在{site_name}操作的验证码 -->
                                        <input type="text" name="mail[tpl][code_title]" placeholder="验证码发送邮件标题" value="{if isset($mail['tpl']['code_title']) && $mail['tpl']['code_title'] !== ''}{$mail['tpl']['code_title']}{else}验证码-{code}{/if}" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-form-item w120">
                                    <label class="layui-form-label">验证码发送内容:</label>
                                    <div class="layui-input-block">
                                        <textarea lay-verify="editor1" id="editor_code_msg" name="mail[tpl][code_msg]" placeholder="验证码发送内容" class="layui-textarea">{if isset($mail['tpl']['code_msg']) && $mail['tpl']['code_msg'] !== ''}{$mail['tpl']['code_msg']}{else}验证码为：{code}，验证码将在5分钟后失效。请及时使用。如果非本人操作请忽略,有任何疑问与我们联系。{/if}</textarea>
                                        <div class="layui-form-mid layui-word-aux">
                                            验证码：<a class="hmcms-label" href="javascript:" data-id="1" data-name="{code}" title="验证码">{code}</a>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="layui-form-item w120">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" lay-filter="submit_save" lay-submit>更新配置</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- end -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">
layui.config({
    base: '{__STATIC__}/admin/layuiadmin/'
}).use(['layer','form'], function () {
//
var form = layui.form,
layer = layui.layer;

//监听伪静态
form.on('radio(index-mode)', function (r) {
    if(r.value == '1'){
        $('blockquote').show();
    }else{
        $('blockquote').hide();
    }
});
form.on('select(url)', function (r) {
    var _id = $(r.elem).attr('data-id');
    $("input[name='"+_id+"']").val(r.value);
});

$('.hmcms-label').click(function(){
    var id= $(this).attr('data-id');
    var tpl= $(this).attr('data-name');
    console.log(id,tpl);
    layedit.setContent(eval('editor'+id), tpl, true);
});

form.verify({
    editor_code_msg: function(value) {
        layedit.sync(editor_code_msg);
    },
    // editor2: function(value) {
    //     layedit.sync(editor2);
    // },
    // editor3: function(value) {
    //     layedit.sync(editor3);
    // }
});


form.on('submit(submit_slave_test)', function(data){
    var post = {};
    post['type'] = 'smtp';
    post['req_mail_type'] = 'backup';
    post['secure'] = data.field['mail[backup][secure]'];
    post['host'] = data.field['mail[backup][host]'];
    post['port'] = data.field['mail[backup][port]'];
    post['username'] = data.field['mail[backup][username]'];
    post['password'] = data.field['mail[backup][password]'];
    post['form_mail'] = data.field['mail[backup][mail_email]'];
    post['nick'] = data.field['mail[backup][nick]'];
    post['to_mail'] = data.field['mail[backup][to_mail]'];

    var index = layer.load();
    $.post("{:url('setting/mailcheck')}", post, function(res) {
        layer.close(index);
        if(res.code == 1){
            layer.msg(res.msg,{icon: 1});
        }else{
            layer.msg(res.msg,{icon: 2});
        }
    },'json');
    return false;
    return false;
});

//发送测试邮件
form.on('submit(submit_master_test)', function(data){

    var post = {};
    post['type'] = 'smtp';
    post['req_mail_type'] = 'master';
    post['secure'] = data.field['mail[master][secure]'];
    post['host'] = data.field['mail[master][host]'];
    post['port'] = data.field['mail[master][port]'];
    post['username'] = data.field['mail[master][username]'];
    post['password'] = data.field['mail[master][password]'];
    post['form_mail'] = data.field['mail[master][mail_email]'];
    post['nick'] = data.field['mail[master][nick]'];
    post['to_mail'] = data.field['mail[master][to_mail]'];


    var index = layer.load();
    $.post("{:url('setting/mailcheck')}", post, function(res) {
        layer.close(index);
        if(res.code == 1){
            layer.msg(res.msg,{icon: 1});
        }else{
            layer.msg(res.msg,{icon: 2});
        }
    },'json');
    return false;
});

//
});

</script>


{include file="app/admin/view/common/footer.html" /}