{include file="app/admin/view/common/header_head.html" /}
<!-- start -->
<div class="layui-fluid">
    <div class="layui-col-md12" style="padding: 5px;">
        <div class="layui-card">
            
            <div class="layui-card-body">
                <div id="task_type"></div>
            </div>
        </div>
    </div>
</div>


<!-- end -->

<script type="text/javascript">

layui.config({base: '{__STATIC__}/admin/layuiadmin/'}).use(['table','jquery'], function(){
///
var admin = layui.admin
,$ = layui.$
,form = layui.form
,table = layui.table;

table.render({
    elem: '#task_type',
    url: '{:url("task/type_list")}?pid={$pid}',
    defaultToolbar: [],
    title: '数据表',
    cols: [[
        {field:'name', title:'任务标题',width:100},
        {field:'text', title:'任务内容',width:230},
        {field:'cion', title:'奖励金币数量',width:130, edit: 'text'},
        {field:'daynum', title:'每日上限次数',width:130},
        {field:'extra', title:'周几',width:130},
        {field:'status', title:'是否开启',width:86,toolbar: '#statusTpl'},
     ]],
    page: false
});


 //监听单元格编辑
table.on('edit(task_type)', function(obj){
    var value = obj.value //得到修改后的值
    var data = obj.data //得到所在行所有键值
    var field = obj.field; //得到字段
    // layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改值为：'+ util.escape(value));

    $.post('{:url("task/update")}', {'id':data.id,'zd':field,'val': util.escape(value)}, function(res) {
        showMsg(res.msg, function(){
            if(res.code > -1){
                location.reload();
            }
        },{icon: res.code > -1 ? 1 : 2,shift:res.code>-1 ? 0 : 6});
    },'json');
});

///
});
</script>


<script type="text/html" id="statusTpl">
    {{#  if(d.status == 0){ }}
    <span class="layui-btn layui-btn-xs layui-btn-normal">已开启</span>
    {{#  } else { }}
    <span class="layui-btn layui-btn-xs layui-btn-danger">已暂停</span>
    {{#  } }}
</script>

<script type="text/html" id="typeTpl">
    {{#  if(d.type == 0){ }}
    <span class="layui-btn layui-btn-xs layui-btn-normal">默认</span>
    {{#  } else { }}
    <span class="layui-btn layui-btn-xs layui-btn-danger">多模式</span>
    {{#  } }}
</script>

<script type="text/html" id="cmdTpl">
    <a class="layui-btn layui-btn-xs" onclick="Admin.open('编辑','{:url('task/edit')}?id={{d.id}}',600,480)">修改</a>
</script>

</body>
</html>


