{include file="app/admin/view/common/header.html" /}

<div class="layui-fluid">
    <div class="layui-col-md12" style="padding: 5px;">
        <div class="layui-card">
            
            <div class="layui-card-body">
                <div class="layui-form toolbar" style="margin-top: 10px;margin-bottom: 10px;">
                    <div class="layui-inline mr0" >
                        <button class="layui-btn layui-btn-sm layui-btn-danger" onclick="Admin.batchDel('{:url('feedback/batchDel')}','feedback')">批量删除</button>
                    </div>

                    <div class="layui-inline mr0">
                        <div class="layui-input-inline mr0">
                            <input name="times" class="layui-input date-icon h30" type="text" placeholder="请选择日期范围" autocomplete="off" lay-key="1">
                        </div>
                    </div>


                    <div class="layui-inline select100 mr0">
                        <div class="layui-input-inline h30">
                            <select name="name">
                                <option value="">全部</option>
                                <option value="内容报错">内容报错</option>
                                <option value="资源找片">资源找片</option>
                                <option value="功能建议">功能建议</option>
                                <option value="充值反馈">充值反馈</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline select100 mr0">
                        <div class="layui-input-inline h30">
                            <select name="zd">
                                <option value="0">全部</option>
                                <option value="uid">会员ID</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline mr0">
                        <div class="layui-input-inline mr0">
                            <input type="text" name="key" placeholder="请输入关键字" autocomplete="off" class="layui-input h30" value="">
                        </div>
                    </div>

                    <div class="layui-inline mr0">
                        <button class="layui-btn layui-btn-sm" data-id="feedback" lay-submit lay-filter="table-sreach"><i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>
                </div>
                <div id="feedback"></div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

layui.config({base: '{__STATIC__}/admin/layuiadmin/'}).use(['table','jquery'], function(){
///
var admin = layui.admin
,$ = layui.$
,form = layui.form
,table = layui.table;

table.render({
    elem: '#feedback',
    url: '{:url("feedback/list")}',
    defaultToolbar: [],
    title: '数据表',
    cols: [[
        {type: 'checkbox', fixed: 'left'},
        {field:'id', title:'ID', width:30},
        {field:'uid', title:'会员ID'},
        {field:'name', title:'类型'},
        {field:'text', title:'内容'},
        {field:'create_time', title:'评论时间',width:170,},
        {title:'操作', toolbar: '#cmdTpl', width:100, fixed: 'right'}
     ]],
    page: true
});

///
});
</script>


<script type="text/html" id="cmdTpl">
    <a class="layui-btn layui-btn-danger layui-btn-xs" onclick="Admin.del(this, '{:url('message/del')}','{{d.id}}')">删除</a>
</script>


{include file="app/admin/view/common/footer.html" /}