            </div>
        </div>

      <!--   <div class="layui-footer" style="height: 20px;line-height: 20px; text-align: center;">
            鸿蒙CMS © <a href="#" target="_blank">HMCMS</a> All Rights Reserved.
        </div> -->
      
    </div>
</div>
<!-- end -->

<!-- 辅助元素，一般用于移动设备下遮罩 -->
<div class="layadmin-body-shade" layadmin-event="shade"></div>

<script src="{__STATIC__}/admin/layuiadmin/layui/layui.js?v={$version}"></script>
<script>
layui.config({
    base: '{__STATIC__}/admin/layuiadmin/'
}).extend({
    index: 'lib/index'
}).use('index');
</script>
  
</body>
</html>