<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>鸿蒙CMS</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/static/admin/images/logo.png"/>
    <link rel="stylesheet" href="{__STATIC__}/admin/layui/css/layui.css?v={$version}">
    <!-- <link rel="stylesheet" href="{__STATIC__}/admin/css/admin.css?v={$version}"> -->
    <link rel="stylesheet" href="{__STATIC__}/admin/css/admin_style.css?v={$version}">
    <style>
    /* 移动端 */
    @media screen and (max-width: 768px) {
      .layui-layout-admin .layui-layout-left,
      .layui-layout-admin .layui-body,
      .layui-layout-admin .layui-footer{left: 0;}
      .layui-layout-admin .layui-side{left: -300px;}
    }
    </style>
</head>
<body>

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <!-- <div class="layui-logo layui-hide-xs layui-bg-black">鸿蒙CMS</div> -->
        <div class="layui-logo layui-hide-xs layui-bg-black"><img src="/static/admin/images/logo.png"/><span>&nbsp;鸿蒙CMS</span></div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
          <!-- 移动端显示 -->
            <li class="layui-nav-item layadmin-flexible" lay-unselect="" lay-header-event="menuLeft">
                <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                    <i class="layui-icon layui-icon-shrink-right" id="hmcms_flexible"></i>
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs"><a href="#">首页</a></li>
            <li class="layui-nav-item layui-hide-xs"><a href="#">系统</a></li>
            <li class="layui-nav-item layui-hide-xs"><a href="#">小说</a></li>
            <li class="layui-nav-item layui-hide-xs"><a href="#">漫画</a></li>
            <li class="layui-nav-item layui-hide-xs"><a href="#">视频</a></li>
        </ul>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;">admin</a>
                <dl class="layui-nav-child">
                    <dd><a href="">个人信息</a></dd>
                    <dd><a href="">设置</a></dd>
                    <dd><a href="">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-more-vertical"></i>
                </a>
            </li>
        </ul>
    </div>
  
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">
                        <i class="layui-icon layui-icon-home"></i>
                        <cite>首页</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="{:url('index/index')}">首页</a></dd>
                        <dd><a href="{:url('index/welcome')}" class="layui-this">欢迎页面</a></dd>
                        <dd><a href="{:url('index/welcome')}">退出</a></dd>

                        
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">menu group 2</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">list 1</a></dd>
                        <dd><a href="javascript:;">list 2</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javascript:;">click menu item</a></li>
                <li class="layui-nav-item"><a href="">the links</a></li>
            </ul>
        </div>
    </div>
  
