{include file="app/admin/view/common/header_head.html" /}
<body class="layui-layout-body">
<!-- start -->
<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>

                {if empty($hm_nav_list)}
                    <li class="layui-nav-item layui-hide-xs" lay-unselect><a href="{:url('index/sys')}">系统</a></li>
                {else}
                    {volist name="hm_nav_list" id="v" key="k"}
                    
                    {if $v["display"]}
                    <li class="layui-nav-item layui-hide-xs {if $hm_nav_cur == $v['alias']}layui-this{/if}" lay-unselect ><a href="{:url('index/index',['view'=>$v['alias']])}">{$v["name"]}</a></li>
                    {/if}

                    {/volist}
                {/if}

            </ul>

            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
            
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="/" target="_blank" title="前台">
                        <i class="layui-icon layui-icon-website"></i>
                    </a>
                </li>

                <!-- <li class="layui-nav-item" lay-unselect>
                    <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
                    <i class="layui-icon layui-icon-notice"></i>
                        <span class="layui-badge-dot"></span>
                    </a>
                </li> -->

                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="note">
                        <i class="layui-icon layui-icon-note"></i>
                    </a>
                </li>

                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>

                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite>{$admin_data['username']}</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="Admin.getPass('{:url('login/updatePass')}');">修改密码</a></dd>
                        <hr>
                        <dd style="text-align: center;"> <a href="{:url('login/out')}">退出</a></dd>
                    </dl>
                </li>
              
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>
      
        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo layui-hide-xs layui-bg-black">
                    <img style="height: 24px;vertical-align: text-bottom;" src="/static/admin/images/logo.png"/>
                    <span>&nbsp;鸿蒙CMS</span>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">

                    {if empty($hm_nav_list)}
                    <li data-name="home" class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;" lay-tips="主页" lay-direction="2">
                            <i class="layui-icon layui-icon-home"></i>
                            <cite>主页</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd data-name="console" class="layui-this">
                                <a lay-href="home/console.html">控制台</a>
                            </dd>
                        </dl>
                    </li>
                    {else}
                        {volist name="hm_nav_list" id="v" key="k"}
                        {if $hm_nav_cur == $v['alias'] && !empty($v['submenu'])}

                        {volist name="$v['submenu']" id="menu_v" key="k1"}
        
                        <li data-name="{$menu_v['name']}" class="layui-nav-item {if isset($menu_v['selected']) && $menu_v['selected'] == true }layui-nav-itemed{/if}">
                            <a href="javascript:;" lay-tips="{$menu_v['name']}" lay-direction="2">
                                <i class="layui-icon {$menu_v['icon']}"></i>
                                <cite>{$menu_v["name"]}</cite>
                            </a>
                            <dl class="layui-nav-child">

                                {if !empty($menu_v['submenu'])}

                                {volist name="$menu_v['submenu']" id="menu_vv" key="k2"}
                                <dd class="{if isset($menu_vv['selected']) && $menu_vv['selected'] == true }layui-this{/if}">

                                    {if $menu_vv["display"]}
                                    <a href="{:url($menu_vv['route'])}">{$menu_vv["name"]}</a>
                                    {/if}
                                </dd>
                                {/volist}

                                {/if}
                            </dl>
                        </li>
                        {/volist}

                        {/if}
                        {/volist}
                    {/if}

                </ul>
            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>

            <div class="layui-card layadmin-header" style="display: block; line-height: 40px;height: 40px;">
                <div class="layui-breadcrumb" lay-filter="breadcrumb">
                    {volist name="hm_nav_list" id="v" key="k"}
                        {if $hm_nav_cur == $v['alias'] && !empty($v['submenu'])}

                        <a lay-href="">{$v["name"]}</a>
                        {volist name="$v['submenu']" id="menu_v" key="k1"}

                            {if !empty($menu_v['submenu'])}
                            {volist name="$menu_v['submenu']" id="menu_vv" key="k2"}

                            {if isset($menu_vv['selected']) && $menu_vv['selected'] == true }
                                <a><cite>{$menu_vv["name"]}</cite></a>
                            {/if}
                            
                            {/volist}
                            {/if}
                         
                        {/volist}

                        {/if}
                    {/volist}
                </div>
            </div>
        </div>
      
        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show" style="overflow-y: auto;margin-bottom: 40px;">
<!--     
        </div>
</div> 
-->
