{include file="app/admin/view/common/header2.html" /}

<div class="layui-fluid">

	<div class="layui-col-md4" style="padding: 5px;">
		<div class="layui-card">
		  	<div class="layui-card-header">导航</div>
		  	<div class="layui-card-body">
		  		<script type="text/html" id="toolbar_navlist">
				 	<div class="layui-btn-container">
				    	<button class="layui-btn layui-btn-sm" lay-event="add_nav"><i class="layui-icon"></i>添加</button>
				  	</div>
				</script>
			    <div id="nav_list"></div>
		  	</div>
		</div>
	</div>

	<div class="layui-col-md4" style="padding: 5px;">
		<div class="layui-card">
		  	<div class="layui-card-header">菜单</div>
		  	<div class="layui-card-body">
		  		<script type="text/html" id="toolbar_navlist">
				 	<div class="layui-btn-container">
				    	<button class="layui-btn layui-btn-sm" lay-event="add_menu"><i class="layui-icon"></i>添加</button>
				  	</div>
				</script>
		  		<div id="menu_list"></div>
		  	</div>
		</div>
	</div>

	<div class="layui-col-md4" style="padding: 5px;">
		<div class="layui-card">
		  	<div class="layui-card-header">子菜单</div>
		  	<div class="layui-card-body">
			    <div id="submenu_list"></div>
		  	</div>
		</div>
	</div>

<!-- 	<div class="layui-col-md4" style="padding: 5px;">
		<div class="layui-card">
		  	<div class="layui-card-header">权限</div>
		  	<div class="layui-card-body">
		    卡片式面板面板通常用于非白色背景色的主体内<br>
		    从而映衬出边框投影
		  	</div>
		</div>
	</div> -->

</div>


<script type="text/javascript">

layui.config({base: '{__STATIC__}/admin/layuiadmin/'}).use(['table','jquery','dropdown'], function(){
///
var admin = layui.admin
,$ = layui.$
,form = layui.form
,dropdown = layui.dropdown
,table = layui.table;

table.render({
    elem: '#nav_list',
    url: '{:url("auth/list")}',
    toolbar: '#toolbar_navlist',
    defaultToolbar: [],
    title: '数据表',
    cols: [[
    	{field:'id', title:'ID', width:30, templet:function(data){
    		if (data.LAY_INDEX == 0){
    			renderMenuTable(data.id);
    		}
    		return data.id;
    	}},
       	{field:'name', title:'名称',},
       	{title:'操作', toolbar: '#nav-list-right-btn', width:120, fixed: 'right',}
     ]],
    page: false
});

//点击行
table.on('row(nav_list)', function(obj){
	var data = obj.data;
	renderMenuTable(data.id);
});

//点击行
table.on('row(menu_list)', function(obj){
	var data = obj.data;
	renderSubMenuTable(data.id);
});


//头工具栏事件
table.on('toolbar(nav_list)', function(obj){
    switch(obj.event){
        case 'add_nav':menuAdd(obj, 'nav');break;
    };
});


table.on('tool(nav_list)', function(obj){
    switch(obj.event){
        case 'delete':menuDelete(obj);break;
    };
});

function menuDelete(obj){

    layer.confirm('你真的要删除吗?', { closeBtn: 2, icon: 3 }, function() {
        $.post('{:url("auth/delete")}', {'id':obj.data.id}, function(data) {
            showMsg(data.msg,function(){
                if (data.code>-1){
                    location.reload();
                }
            },{icon:data.code>-1?1:2});
        },'json');
    });
}

function makeMenuList(data){
    var ndata = [];
    for (var i = 0; i < data.length; i++) {
        var t = {
            'id': data[i]['id'],
            'title': data[i]['name'],
            'type': 'normal'
        };

        if ('submenu' in data[i]){
            t['child'] = makeMenuList(data[i]['submenu']);
        }
        ndata.push(t);
    }
    return ndata;
}

// add
function menuAdd(obj,mtype){

    var name = '';
    var alias = ''
    var remark = '';
    var type_select = 0;
    var type_spider_select = 0;

    if (obj.event == 'edit'){
        name = obj.data.name;
        alias = obj.data.alias;
        remark = obj.data.remark;
        type_select = obj.data.type;
        type_spider_select = obj.data.spider_type;
    }

    var type_select_option = [
        {"index":0, 'value':'小说'},
        {"index":1, 'value':'漫画'},
        {"index":2, 'value':'其他'}
    ];

    var type_select_html = '';
    for (var i = 0; i < type_select_option.length; i++) {
        // console.log(type_select_option[i]['index'] , type_select);
        if (type_select_option[i]['index'] == type_select){
            type_select_html += '<option value="'+type_select_option[i]['index']+'" selected="selected">'+type_select_option[i]['value']+'</option>';
        } else{
            type_select_html += '<option value="'+type_select_option[i]['index']+'">'+type_select_option[i]['value']+'</option>';
        }
    }

    var type_menu_option = [
        {"index":0, 'value':'导航'},
        {"index":1, 'value':'菜单'},
        {"index":2, 'value':'子菜单'},
        {"index":3, 'value':'API'},
    ];

    var type_menu_option_html = '';

    for (var i = 0; i < type_menu_option.length; i++) {
        if (type_menu_option[i]['index'] == type_select){
            type_menu_option_html += '<option value="'+type_menu_option[i]['index']+'" selected="selected">'+type_menu_option[i]['value']+'</option>';
        } else{
            type_menu_option_html += '<option value="'+type_menu_option[i]['index']+'">'+type_menu_option[i]['value']+'</option>';
        }
    }

    var btn_action = ['添加','取消'];
    var layer_title = '添加';
    if (obj.event == 'edit'){
        btn_action = ['更新','取消'];
        layer_title = '编辑';
    }

    layer.open({
        area: ['400px',"400px"],
        title:layer_title,
        content: '<form id="add_menu_form" class="layui-form layui-form-pane" style="padding:5px;">\
        	<div class="layui-form-item">\
              <label class="layui-form-label">父级</label>\
              <div class="layui-input-block">\
                <button class="layui-btn" id="pid" style="width:100%;">\
                    <span id="pid_name">无</span>\
                    <i class="layui-icon layui-icon-down layui-font-18"></i>\
                </button>\
                <input type="hidden" name="pid" value=""/>\
              </div>\
            </div>\
	        <div class="layui-form-item">\
	            <label class="layui-form-label">类型</label>\
	            <div class="layui-input-block">\
	                <select name="type" lay-verify="required">'+type_menu_option_html+'</select>\
	            </div>\
	        </div>\
            <div class="layui-form-item">\
              <label class="layui-form-label">名称</label>\
              <div class="layui-input-block">\
                <input type="text" name="name" value="'+name+'" autocomplete="off" placeholder="请输入名称" class="layui-input">\
              </div>\
            </div>\
            <div class="layui-form-item">\
             	<label class="layui-form-label">别名</label>\
              	<div class="layui-input-block">\
                	<input type="text" name="alias" value="'+alias+'" autocomplete="off" placeholder="请输入名称" class="layui-input">\
              	</div>\
            </div>\
            <div class="layui-form-item" id="div_route">\
             	<label class="layui-form-label">路由</label>\
              	<div class="layui-input-block">\
                	<input type="text" name="route" value="" autocomplete="off" placeholder="请输入路由地址" class="layui-input">\
              	</div>\
            </div>\
            <div class="layui-form-item" id="div_icon">\
             	<label class="layui-form-label">图标</label>\
              	<div class="layui-input-block">\
                	<input type="text" name="icon" value="" autocomplete="off" placeholder="请输入图标标识" class="layui-input">\
              	</div>\
            </div>\
            <div class="layui-form-item">\
              <label class="layui-form-label">备注</label>\
              <div class="layui-input-block">\
                <input type="text" name="remark" value="'+remark+'" autocomplete="off" placeholder="请输入备注" class="layui-input">\
              </div>\
            </div>\
            <input type="hidden" name="id" value="">\
            <input type="hidden" name="pid" value="0">\
        </form>',
        btn: btn_action,
        type: 1,
        shadeClose: false,
        success:function(){
            form.render();
            if (obj.event == 'edit'){
                $('input[name="id"]').val(obj.data.id);
            }

            $.post('{:url("auth/menu_plist")}', {}, function(data) {
                var menu_list_a = makeMenuList(data.data);
                var menu_list = [{"id":0,"title":"无"}];
                menu_list.push.apply(menu_list,menu_list_a);
                dropdown.render({
                    elem: '#pid',
                    data:menu_list,
                    click: function(obj){

                        console.log(obj);
                        $('#pid_name').text(obj.title);
                        $('input[name="pid"]').val(obj.id);
                    }
                });
            },'json');

            if (mtype == 'nav'){
                $('#div_route').css('display','none');
                $('#div_icon').css('display','none');
            }
        },
        yes: function(index, layero){
            var data = $("#add_menu_form").serialize();
            console.log(data);
            $.post('{:url("auth/add")}', data, function(data) {
                showMsg(data.msg,function(){
                    if (data.status){
                        layer.close(index);
                    }
                },{icon:data.status?1:2});
            },'json');
            return;
        }
    });
}

// 渲染table
function renderMenuTable(pid){
	table.render({
	    elem: '#menu_list',
	    toolbar: '#toolbar_navlist',
	    defaultToolbar: [],
	    url: '{:url("auth/listpid")}?pid='+pid,
	    title: '数据表',
	    cols: [[
	    	{field:'id', title:'ID', width:30, templet:function(data){
	    		if (data.LAY_INDEX == 0){
	    			renderSubMenuTable(data.id);
	    		}
	    		return data.id;
    		}},
	       	{field:'name', title:'名称',},
	       	{title:'操作', toolbar: '#nav-list-right-btn', width:120, fixed: 'right'}
	     ]],
	    page: false
	});
}

function renderSubMenuTable(pid){
	table.render({
	    elem: '#submenu_list',
	    toolbar: '#toolbar_navlist',
	    defaultToolbar: [],
	    url: '{:url("auth/listpid")}?pid='+pid,
	    title: '数据表',
	    cols: [[
	    	{field:'id', title:'ID', width:30},
	       	{field:'name', title:'名称',},
	       	{title:'操作', toolbar: '#nav-list-right-btn', width:120, fixed: 'right'}
	     ]],
	    page: false
	});
}

///
});
</script>


<script type="text/html" id="nav-list-right-btn">
    <a class="layui-btn layui-btn-xs" lay-event="look">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
</script>


{include file="app/admin/view/common/footer2.html" /}