{include file="app/admin/view/common/header_head.html" /}
<style type="text/css">
.layui-form-item .layui-input-inline{
    width: auto;
    margin-left: 5px;
}
.type-input{
    height:70px;
    overflow-y: auto;
}
.type-input::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.type-input::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #666;
}
.type-input::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background   : #ededed;
}
.layui-form-radio{
    margin: 0; 
    padding-right: 0;
}

.layui-form-pane .layui-form-checkbox {
    margin: 4px 0 4px 1px;
}
.layui-form-checkbox[lay-skin=primary] span {
    padding-right: 4px;
}
.layui-form-checkbox[lay-skin=primary] i {
    left: 6px;
}
.layui-form-item .layui-col-xs12{
    margin-top: 10px;
}
@media screen and (max-width: 990px){
    .layui-form-item .layui-col-xs12:first-child{
        margin-top: 0px;
    }
    .layui-form-item{
        margin-bottom: 10px; 
    }
}
</style>
<!-- start -->

<div class="layui-fluid">
    <form class="layui-form layui-form-pane" action="{:url('comicchapter/save')}">
        <div class="layui-form-item">
            <label class="layui-form-label">章节标题</label>
            <div class="layui-input-block">
                <input type="text" name="name" required lay-verify="required" class="layui-input" value="{$data['name']|default=''}" placeholder="请输入章节标题">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">章节封面</label>
            <div class="layui-input-block">
                <input type="text" id="image" name="image" class="layui-input" placeholder="请上传漫画封面或者输入图片URL" value="{$data['image']|default=''}">
                <div class="layui-btn layui-btn-normal uppic_cover" style="position: absolute;top: 0px;right: 0;">封面上传</div>
            </div>
        </div>

        <div id="yid" class="layui-col-xs12 layui-col-md12">
            <label class="layui-form-label">未通过原因</label>
            <div class="layui-input-block">
                <input type="text" name="msg" class="layui-input" value="{$data['msg']|default=''}" placeholder="请输入未通过原因">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-col-xs12 layui-col-md3">
                <label class="layui-form-label">VIP权限</label>
                <div class="layui-input-block">
                    <select name="vip">
                        <option value="0">免费阅读</option>
                        <option value="1">Vip阅读</option>
                    </select>
                </div>
            </div>
            <div class="layui-col-xs12 layui-col-md3">
                <label class="layui-form-label">金币数量</label>
                <div class="layui-input-block">
                    <input type="number" name="cion" class="layui-input" value="{$data['cion']|default=0}" placeholder="阅读该章节是否需要">
                </div>
            </div>
            <div class="layui-col-xs12 layui-col-md3">
                <label class="layui-form-label">审核状态</label>
                <div class="layui-input-block">
                    <select name="yid" lay-filter="yid">
                        <option value="0" {if isset($data['yid']) && $data['yid']==0}selected{/if}>已通过</option>
                        <option value="1" {if isset($data['yid']) && $data['yid']==1}selected{/if}>待审核</option>
                        <option value="2" {if isset($data['yid']) && $data['yid']==2}selected{/if}>未通过</option>
                    </select>
                </div>
            </div>
            <div class="layui-col-xs12 layui-col-md3">
                <label class="layui-form-label">排序ID</label>
                <div class="layui-input-block">
                    <input type="number" name="xid" class="layui-input" value="{$data['xid']|default=99}"placeholder="排序ID，越小越靠前">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">章节图片</label>
            <div class="layui-input-block" style="border: 1px solid #e6e6e6;padding:0 0 0 10px;">
                <div class="layui-row">
                    <ul class="layui-pic">
                    {volist name="data['pic']" id="v" key="k"}
                    <li class="p1">
                        <input type="hidden" name="pic[]" value="{$v['id']}">
                        <img data-original="" />
                        <span class="p2" data-id="{$v['id']}" title="删除"><i class="layui-icon">&#xe640;</i></span>
                    </li>
                    {/volist}
                    </ul>
                </div>
                <div class="layui-btn layui-btn-danger all-del" style="position:absolute;top: 0px;left: 0;">一键清空所有图片</div>
                <div class="layui-btn inppic layui-btn-normal" style="position:absolute;top: 0px;right: 100px;">手动填写</div>
                <div class="layui-btn uppic" style="position:absolute;top: 0px;right: 0;">上传图片</div>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;padding: 5px;">
            <input type="hidden" name="id" value="{$data['id']|default='0'}">
            <button class="layui-btn" lay-filter="submit_save" lay-submit>保存</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="{__STATIC__}/admin/js/jquery-migrate-1.1.1.js"></script>
<script type="text/javascript" src="{__STATIC__}/admin/js/jquery.dragsort-0.5.1.min.js"></script>

<script type="text/javascript">
layui.use(['form','upload'], function(){
//
var upload = layui.upload,
form = layui.form;

upload.render({
    elem: '.uppic',
    url: "{:url('common/upload')}",
    number: 100,
    multiple: true,
    accept: 'file',
    acceptMime: 'image/*',
    exts: 'jpg|gif|png|jpeg|bmp|webp',
    done: function(res){
        console.log(res);
        if(res.code == 0){
            layer.msg(res.msg,{icon: 1});
            var html='<li><input type="hidden" name="pic[]" value="'+res.pid+'"><img data-original="'+res.img+'"><span title="删除" class="p2" data-id="'+res.pid+'"><i class="layui-icon">&#xe640;</i></span></li>';
            $('.layui-pic').append(html);
            // get_pic_px();
            // reloadDecodeImage();
        }else{
            layer.msg(res.msg,{icon: 2});
        }
    }
});

//
});
</script>
<!-- end -->
</body>
</html>


