{include file="app/admin/view/common/header.html" /}

<div class="layui-fluid">
	<div class="layui-col-md12" style="padding: 5px;">
		<div class="layui-card">
		  	<div class="layui-card-body">

                <div class="layui-tab layui-tab-brief">
                    <ul class="layui-tab-title" id="yid">
                        <li class="layui-this" data-yid="0">已审章节</li>
                        <li data-yid="1">待审章节</li>
                        <li data-yid="2">未通过章节</li>
                    </ul>
                </div>

                <div class="layui-form toolbar" style="margin-top: 10px;margin-bottom: 10px;">
                    <div class="layui-inline mr0" >
                        <button class="layui-btn layui-btn-sm layui-btn-danger" onclick="Admin.batchDel('{:url('comicchapter/batchDel')}','comicchapter')">删除</button>
                    </div>

                    <div class="layui-inline mr0" >
                        <button class="layui-btn layui-btn-sm" onclick="Admin.open('新增章节','{:url('comicchapter/edit')}?mid={$mid}&id={$id|default=0}',1000,450)">新增</button>
                    </div>

                    <div class="layui-inline mr0">
                        <div class="layui-input-inline mr0">
                            <input name="times" class="layui-input date-icon h30" type="text" placeholder="请选择日期范围" autocomplete="off" lay-key="1">
                        </div>
                    </div>

                    <div class="layui-inline select100 mr0">
                        <div class="layui-input-inline h30">
                            <select name="zd">
                                <option value="name">章节名称</option>
                                <option value="id">章节ID</option>
                                <option value="mid">漫画ID</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline mr0">
                        <div class="layui-input-inline mr0">
                            <input type="text" name="key" placeholder="请输入关键字" autocomplete="off" class="layui-input h30" value="">
                        </div>
                    </div>

                    <div class="layui-inline mr0">
                        <button class="layui-btn layui-btn-sm" data-id="comicchapter" lay-submit lay-filter="table-sreach"><i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>
                </div>
			    <div id="comicchapter"></div>
		  	</div>
		</div>
	</div>
</div>


<script type="text/javascript">

layui.config({base: '{__STATIC__}/admin/layuiadmin/'}).use(['table','jquery'], function(){
///
var admin = layui.admin
,$ = layui.$
,form = layui.form
,table = layui.table;

$('#yid li').click(function(){
    $('#yid li').removeClass('layui-this');
    $(this).addClass('layui-this');

    render_table();
});


function render_table(){

    var where_data = $('#comicchapter_list').serializeArray();
    where_data = array2arr(where_data);

    if (where_data['times']) {
        var searchDate = where_data['times'].split(' - ');
        where_data['kstime'] = searchDate[0];
        where_data['jstime'] = searchDate[1];
    } else {
        where_data['kstime'] = '';
        where_data['jstime'] = '';
    }
    where_data['times'] = undefined;
    var yid = $('#yid li.layui-this').data('yid');

    table.render({
        elem: '#comicchapter',
        url: '{:url("comicchapter/list")}?yid='+yid,
        defaultToolbar: [],
        title: '数据表',
        cols: [[
            {type: 'checkbox', fixed: 'left'},
            {field:'id', title:'漫画ID', width:100},
            {field:'xid', title:'排序'},
            {field:'name', title:'章节名称',},
            {field:'vip', title:'VIP', width:100},
            {field:'cion', title:'金币', width:100},
            {title:'操作', toolbar: '#cmdTpl', width:100, fixed: 'right',}
         ]],
        page: true,
        where:where_data
    });

    
    table.on('sort(comicchapter)', function(obj){
        table.reload('comicchapter', {
            initSort: obj,
            where: {
                sort_field: obj.field,
                sort_order: obj.type
            }
        });
    });    
}
render_table();

///
});
</script>


<script type="text/html" id="cmdTpl">

    <a class="layui-btn layui-btn-xs" title="编辑" onclick="Admin.open('【{{d.name}}】'+'章节编辑','{:url('comicchapter/edit')}?id={{d.id}}',1000,450)"><i class="layui-icon">&#xe642;</i></a>

    <a class="layui-btn layui-btn-danger layui-btn-xs" title="删除" onclick="Admin.del(this, '{:url('comicchapter/del')}','{{d.id}}')"><i class="layui-icon">&#xe640;</i></a>
</script>

{include file="app/admin/view/common/footer.html" /}