{include file="app/admin/view/common/header.html" /}

<div class="layui-fluid">
	<div class="layui-col-md12" style="padding: 5px;">
		<div class="layui-card">
		  	<div class="layui-card-body">

                <div class="layui-tab layui-tab-brief">
                    <ul class="layui-tab-title" id="yid">
                        <li class="layui-this" data-yid="0">已审章节</li>
                        <li data-yid="1">待审章节</li>
                        <li data-yid="2">未通过章节</li>
                    </ul>
                </div>

                <div class="layui-form toolbar" style="margin-top: 10px;margin-bottom: 10px;">
                    <div class="layui-inline mr0" >
                        <button class="layui-btn layui-btn-sm layui-btn-danger" onclick="Admin.batchDel('{:url('comicchapter/batchDel')}','comicchapter')">删除</button>
                    </div>

                    <div class="layui-inline mr0">
                        <button class="layui-btn layui-btn-sm" onclick="Admin.open('新增章节','{:url('comicchapter/edit')}?mid={$mid}&id={$id|default=0}',1000,450)">新增</button>
                    </div>

                    <div class="layui-inline mr0">
                        <button class="layui-btn layui-btn-sm set-vip">设置VIP</button>
                    </div>

                    <div class="layui-inline mr0">
                        <button class="layui-btn layui-btn-sm layui-btn-danger cancel-vip">取消VIP</button>
                    </div>

                    <div class="layui-inline mr0">
                        <button class="layui-btn layui-btn-sm layui-btn-normal set-cion">设置收费</button>
                    </div>

                    <div class="layui-inline mr0">
                        <button class="layui-btn layui-btn-sm layui-btn-normal set-px">排序</button>
                    </div>

                    <div class="layui-inline mr0">
                        <div class="layui-input-inline mr0">
                            <input name="times" class="layui-input date-icon h30" type="text" placeholder="请选择日期范围" autocomplete="off" lay-key="1">
                        </div>
                    </div>

                    <div class="layui-inline select100 mr0">
                        <div class="layui-input-inline h30">
                            <select name="zd">
                                <option value="name">章节名称</option>
                                <option value="id">章节ID</option>
                                <option value="mid">漫画ID</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline mr0">
                        <div class="layui-input-inline mr0">
                            <input type="text" name="key" placeholder="请输入关键字" autocomplete="off" class="layui-input h30" value="">
                        </div>
                    </div>

                    <div class="layui-inline select100 mr0">
                        <div class="layui-input-inline h30">
                            <select name="pay">
                                <option value="">阅读方式</option>
                                <option value="1">免费阅读</option>
                                <option value="2">Vip阅读</option>
                                <option value="3">金币阅读</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline mr0">
                        <button class="layui-btn layui-btn-sm" data-id="comicchapter" lay-submit lay-filter="table-sreach"><i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>
                </div>
			    <div id="comicchapter"></div>
		  	</div>
		</div>
	</div>
</div>


<script type="text/javascript">

layui.config({base: '{__STATIC__}/admin/layuiadmin/'}).use(['table','jquery'], function(){
///
var admin = layui.admin
,$ = layui.$
,form = layui.form
,table = layui.table;

$('#yid li').click(function(){
    $('#yid li').removeClass('layui-this');
    $(this).addClass('layui-this');
    render_table();
});


function render_table(){

    var where_data = $('#comicchapter_list').serializeArray();
    where_data = array2arr(where_data);

    if (where_data['times']) {
        var searchDate = where_data['times'].split(' - ');
        where_data['kstime'] = searchDate[0];
        where_data['jstime'] = searchDate[1];
    } else {
        where_data['kstime'] = '';
        where_data['jstime'] = '';
    }
    where_data['times'] = undefined;
    var yid = $('#yid li.layui-this').data('yid');

    table.render({
        elem: '#comicchapter',
        url: '{:url("comicchapter/list")}?yid='+yid,
        defaultToolbar: [],
        title: '数据表',
        cols: [[
            {type: 'checkbox', fixed: 'left'},
            {field:'id', title:'章节ID', width:100,sort:true},
            {field:'xid', title:'排序',width:80, toolbar:"#xidTpl"},
            {field:'name', title:'章节名称',},
            {field:'vip', title:'收费', width:110, toolbar:'#ztTpl'},
            {field:'create_time', title:'更新日期', width:162,sort:true},
            {title:'操作', toolbar: '#cmdTpl', width:100, fixed: 'right',}
         ]],
        page: true,
        where:where_data
    });

    
    table.on('sort(comicchapter)', function(obj){
        table.reload('comicchapter', {
            initSort: obj,
            where: {
                sort_field: obj.field,
                sort_order: obj.type
            }
        });
    });    
}
render_table();

function set_vip(_id, _vip){
    var ids = [];
    var checkStatus = table.checkStatus(_id);
    checkStatus.data.forEach(function(n,i){
        ids.push(n.id);
    });

    if( ids.length == 0 ){
        layer.msg('请选择要操作的数据',{icon: 2});
    } else {
        layer.confirm('确定要操作吗', {
            title:'操作提示',
            btn: ['确定', '取消'], //按钮
            shade:0.001
        }, function(index) {
            $.post("{:url('comicchapter/batchUpdate')}", {'op':'vip','id':ids,vip:_vip,mid:"{$mid}"}, function(res) {
                if(res.code == 1){
                    layer.msg(res.msg,{icon: 1});
                    setTimeout(function() {
                        location.reload();
                    }, 1000);
                }else{
                    layer.msg(res.msg,{icon: 2});
                }
            },'json');
        }, function(index) {
            layer.close(index);
        });
    }
}

function set_cion(_id){
    var ids = [];
    var checkStatus = table.checkStatus(_id);
    checkStatus.data.forEach(function(n,i){
        ids.push(n.id);
    });
    if(ids.length ==0){
        layer.msg('请选择要操作的数据',{icon: 2});
    }else{
        layer.prompt({title: '请输入数量',area: ['200px', '150px']},function(value, index, elem){
            if(isNaN(value)){
                layer.msg('请输入正确的数量',{icon: 2});
            }else{
                $.post("{:url('comicchapter/batchUpdate')}", {'op':'cion','id':ids,cion:value,mid:"{$mid}"}, function(res) {
                    if(res.code == 1){
                        layer.msg(res.msg,{icon: 1});
                        setTimeout(function() {
                            location.reload();
                        }, 1000);
                    }else{
                        layer.msg(res.msg,{icon: 2});
                        layer.close(index);
                    }
                },'json');
            }
        });
    }
}

function set_px(_id){
    var ids = [],xids = [];
    var checkStatus = table.checkStatus(_id);
    checkStatus.data.forEach(function(n,i){
        var id = n.id;
        var val = $('#xid_'+id).val();
        xids.push(val);
        ids.push(n.id);
    });
    if( ids.length == 0 ){
        layer.msg('请选择要操作的数据',{icon: 2});
    }else{
        var req = {'op':'px','id':ids,xid:xids,mid:"{$mid}"};
        $.post("{:url('comicchapter/batchUpdate')}", req, function(res) {
            if(res.code == 1){
                layer.msg(res.msg,{icon: 1});
                setTimeout(function() {
                    location.reload();
                }, 1000);
            }else{
                layer.msg(res.msg,{icon: 2});
                layer.close(index);
            }
        },'json');
    }
}

$('.set-vip').click(function(){
    set_vip('comicchapter',1);
});

$('.cancel-vip').click(function(){
    set_vip('comicchapter',2);
});

$('.set-cion').click(function(){
    set_cion('comicchapter');
});

$('.set-px').click(function(){
    set_px('comicchapter');
});

///
});
</script>

<script type="text/html" id="ztTpl">
    {{#  if(d.vip > 0){ }}
        <span class="layui-btn layui-btn-xs layui-btn-danger">Vip阅读</span>
    {{#  } else if(d.cion > 0){ }}
        <span class="layui-btn layui-btn-xs layui-btn-normal">【{{d.cion}}】阅读</span>
    {{#  } else { }}
        <span class="layui-btn layui-btn-xs">免费阅读</span>
    {{#  } }}
</script>

<script type="text/html" id="xidTpl">
    <input type="text" id="xid_{{d.id}}" class="layui-input" style="height: 28px;text-align: center;padding-left:0px;" value="{{d.xid}}" placeholder="排序编号，越小越前" title="排序编号，越小越前">
</script>


<script type="text/html" id="cmdTpl">

    <a class="layui-btn layui-btn-xs" title="编辑" onclick="Admin.open('【{{d.name}}】'+'章节编辑','{:url('comicchapter/edit')}?id={{d.id}}',1000,450)"><i class="layui-icon">&#xe642;</i></a>

    <a class="layui-btn layui-btn-danger layui-btn-xs" title="删除" onclick="Admin.del(this, '{:url('comicchapter/del')}','{{d.id}}')"><i class="layui-icon">&#xe640;</i></a>
</script>

{include file="app/admin/view/common/footer.html" /}