/*后台图标*/

body{background-color:#fff; font-family:"微软雅黑"; }
.fl{float:left;}
.fr{float:right;}
.nobg{background-color:transparent!important}
.font12{font-size:12px!important;}
.font18{font-size:18px!important;}
.font20{font-size:20px!important;}
.mag0{ margin:0 !important; }
.m5{margin: 5px auto; }
.m10{margin: 10px auto; }
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.m10{margin: 10px;}
.m20{margin: 20px;}
.pl20{padding-left:20px;}
.pl50{padding-left:50px;}
.pb10{padding-bottom:10px;}
.pb50{padding-bottom:50px;}
.p10{padding:10px;}
.p20{padding:20px;}
.w50{width:50px!important;}
.w60{width:60px!important;}
.w70{width:70px!important;}
.w80{width:80px!important;}
.w100{width:100px!important;}
.w110{width:110px!important;}
.w120{width:120px!important;}
.w150{width:150px!important;}
.w200{width:200px!important;}
.w300{width:300px!important;}
.w350{width:350px!important;}
.w400{width:400px!important;}
.w500{width:500px!important;}
.w600{width:600px!important;}
.w700{width:700px!important;}
.w800{width:800px!important;}
.w900{width:900px!important;}


.layui-header{height: 40px;}

.layui-layout-admin .layui-logo{
    line-height: 40px;
}

.layui-layout-admin .layui-header .layui-logo img {
    height: 24px;
    vertical-align: text-bottom;
}

.layui-nav {
    padding: 0 0 20px;
}

.layui-nav .layui-nav-item{
    line-height: 40px;
}

.layui-nav-child{
    top:45px;
}

.layui-layout-admin .layui-side{
    top:40px;
}
.layui-layout-admin .layui-body{
    top:40px;
}

.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
    height: 2px;
}